<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelling -->
      <package
            uri="http://www.example.org/modelling"
            class="uk.ac.kcl.inf.mmdd.idappdsml.modelling.ModellingPackage"
            genModel="model/modelling.genmodel"/>
   </extension>

</plugin>
